{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
<h1>avaliable drugs</h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Drug Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
{% with my_variable=0.0%}

	{% for avaliable in avaliables %}
		<tr>
			<td> <a href="{% url 'drug_record' avaliable.id %}" >{{ avaliable.drug_name }} </a> </td>
			<td>{{ avaliable.quantity_purchased }}</td>
			<td>{{ avaliable.price }}</td>



    {% endfor %}

{% endwith %}




	  </tbody>
	</table>

{% endblock %}
