{% extends 'base.html' %}


{% block content %}
{% load static %}




{% if user.is_authenticated %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">


<button class="btn btn-secondary" > <a class="nav-link" href="{% url 'add_record' %}">Add Record</a> </button>
<button class="btn btn-secondary" > <a class="nav-link" href="{% url 'customer_medication' %}">view medications</a> </button>



</br>
</br>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">address</th>
      <th scope="col">Phone</th>
  <!--    <th scope="col">Address</th>
      <th scope="col">Diagnosis</th>
      <th scope="col">Detailed Description</th>
      <th scope="col">Medication</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Created At</th>
      <th scope="col">ID</th>  -->

    </tr>
  </thead>
  <tbody>
{% if records %}
	{% for record in records %}
		<tr>
			<td>
              <a href="{% url 'record' record.id %}" >{{ record.customer_name }} </a>
            </td>
			<td>{{ record.customer_address }}</td>
			<td>{{ record.customer_phone_number  }}</td>
	<!--		<td>{{ record.address }}</td>
			<td>{{ record.diagnosis }}</td>
			<td>{{ record.details }}</td>
			<td>{{ record.medication }}</td>
            <td>{{ record.price }}</td>
            <td>{{ record.quantity }}</td>
			<td>{{ record.created_at }}</td>
			<td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
            <td><a href="{% url 'record' record.id %}"> view record </a> </td> -->
		</tr>
	{% endfor %}

  {% endif %}

	
	  </tbody>
	</table>





{% else %}
<link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">


<form method = "POST" action = "">
    {% csrf_token %}

    <section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-dark" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">

                <div class="mb-md-5 mt-md-4 pb-5">

                  <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                  <p class="text-white-50 mb-5">Please enter your login and password!</p>

                  <div class="form-outline form-white mb-4">
                    <input type="text"  class="form-control " name="username" placeholder="username" />

                  </div>
                  </br>

                  <div class="form-outline form-white mb-4">
                    <input type="password" id="typePasswordX" class="form-control " name="password" placeholder="password"/>

                  </div>
                  </br>
                  </br>


                    <button type="submit" class="btn btn-outline-light btn-lg px-5">Login</button>

                  <div class="d-flex justify-content-center text-center mt-4 pt-1">
                    <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                    <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                    <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                  </div>

                </div>


                <div>
                  <!--<p class="mb-0">Don't have an account? <a href="{% url 'register' %}" class="text-white-50 fw-bold">Sign Up</a>
                  </p> -->
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</form>





{% endif %}

{% endblock %}
